#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Target-specific patching for Trusty Tahr
ifeq ($(shell lsb_release -sc), trusty)
    PATCH_TARGET := apply-trusty-patch
else
    PATCH_TARGET :=
endif

%:
	dh $@  --with autoreconf

override_dh_auto_configure:
	$(PATCH_TARGET) && dh_auto_configure -- --prefix=/usr --sysconfdir=/etc --datadir=/usr/share 

override_dh_install:
	dh_install
	install -Dm644 misc/auto-completion/bash/show-completion.bash debian/package/share/bash-completion/completions/show-completion.bash
	install -Dm644 misc/auto-completion/bash/sf-completion.bash debian/package/share/bash-completion/completions/sf-completion.bash
	install -Dm644 misc/auto-completion/zsh/_show debian/package/share/zsh/site-functions/_show
	install -Dm644 misc/auto-completion/zsh/_sf debian/package/share/zsh/site-functions/_sf

apply-trusty-patch:
	patch -p1 < patches/ubuntu-trust-tahr.patch
